.carousel.slide.position-relative{:id=>"carouselExampleIndicators", :data => {:ride => "carousel"}}
  %ol.carousel-indicators
    - @images.each_with_index do |image, index|
      - if index%3==0
        %li{:data => {:target => "#carouselExampleIndicators", :slide_to => "#{index}", :class => "#{index == 0 ? 'active' : ''}"}}
  .carousel-inner
    - @images.each_slice(3).each_with_index do |row, index|
      .carousel-item{:class => ("active" if index == 0)}
        .row
          - row.each do |image|
            .col-lg-4.col-12
              %img{:src => "#{image.src.url}", :alt => "Image", :class => "d-block", :style => "height: 50vh; width: 100%; object-fit: cover;"}
  %a.carousel-control-prev{:href => "#carouselExampleIndicators", :role => "button", :data => {:slide => "prev"}}
    %span.carousel-control-prev-icon{:aria => {:hidden => "true"}}
    %span.sr-only= t('static_pages.index.previous')
  %a.carousel-control-next{:href => "#carouselExampleIndicators", :role => "button", :data => {:slide => "next"}}
    %span.carousel-control-next-icon{:aria => {:hidden => "true"}}
    %span.sr-only= t('static_pages.index.next')
  .row.m-0.p-0
    .back.col-lg-4.col-12.align-items-center
      %p= t('static_pages.index.title')
      .links
        = link_to t('static_pages.index.sign_in'), new_user_session_path, class: "btn btn-light"
        = link_to t('static_pages.index.registration'), new_user_registration_path, class: "btn btn-light"

%h2.text-center.m-3= t('static_pages.index.functions')
.container
  .row.justify-content-center
    .col-lg-6.col-12.mb-4
      %a(title="" href='categories/new')
        .position
          .description
            .link-action
              %h4
                = t('links.create_new_category')
          .block-1.clip-path
    .col-lg-6.col-12.mb-4
      %a(title="" href='images/new')
        .position
          .description
            .link-action
              %h4
                = t('images.form.title')
          .block-2.clip-path
.container
  %h2.m-3.text-center= t('categories.index.title')
  - @categories.each_slice(2).each do |row|
    .row
      - row.each do |category|
        .col-lg-6.col-12
          = link_to(category_path(category)) do
            .bubba.mx-auto
              %h3= category.title
              %p
                #{category.images.size}
                =t('static_pages.index.images')
              = popular_image(category.id)? image_tag("#{popular_image(category.id).src.url(:thumb)}") : image_tag('no-image.jpg', :class => "img-fluid")



