- if user_signed_in?
  .container
    %h2.text-center= t('profile.title')
    .text-right
      = link_to t('profile.links.edit'), edit_user_registration_path
    %table.table.table-hover.text-center.mt-4
      %thead
        %tr
          %th= t('profile.name')
          %th Email
      %tbody
        %tr
          %td
            = @user.username
          %td
            = @user.email
    %h4.text-center.mt-4= t('profile.yours_categories')
    %table.table.table-hover.text-center.mt-4
      %thead
        = link_to t('profile.categories.action.create'), new_category_path, :class => "btn btn-dark text-center"
        %tr
          %th= t('profile.categories.title')
          %th= t('profile.categories.action.title')
      %tbody
        - @categories.each do |category|
          %tr
            %td #{category.title.capitalize}
            %td
              = link_to t('profile.categories.action.edit'), category_path(category), :class => "btn btn-dark"
              = link_to t('profile.categories.action.destroy'), category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "btn btn-dark"

