= simple_form_for [@category, @image, @image.comments.build ] do |f|
  .form-group
    = f.error_notification
    - if @image.comments.build.errors.any?
      - @image.comments.build.errors.full_messages.each do |msg|
        %p= msg
    = f.text_field :commenter
    = f.text_field :body
    = f.submit 'Save'