%h1.text-center
  Comments
= paginate @comments
- @comments.each do |comment|
  .row
    .col-12
      .div
        %h5 Commenter:
        %p= comment.commenter
      .div
        %h5 Comment:
        %p= comment.body
      %time= comment.created_at.to_date.strftime("%Y-%m-%d")
= paginate @comments
