%h1.text-center
  = t('comments.all.title')

- @comments.each do |comment|
  %ul.list-unstyled
    %li.media
      = link_to image_tag("#{find_image(comment).src.url(:thumbnail)}", :class => "img-fluid m-2"),
      category_image_new_path(category_slug: find_image(comment).category.slug, id: find_image(comment).id) if find_image(comment).src?
      .media-body.ml-3
        .d-flex.justify-content-between
          %h5.m-1
            = comment.commenter
          %time= comment.created_at.to_date.strftime("%Y-%m-%d")
        %p
          = comment.body
        -#%abbr.timeago{:title => comment.created_at.getutc.iso8601}
        -#  = comment.created_at.to_s
    %hr

= paginate @comments



