= simple_form_for(@category) do |f|
  .form-group
    = f.error_notification
    - if @category.errors.any?
      - @category.errors.full_messages.each do |msg|
        %p= msg
    = f.text_field :title
    = f.submit :submit

