%h1
  Categories
= link_to "New category", new_category_path

%ul
  - @categories.each do |category|
    %li #{category.title}
    = link_to "Show", category_path(category)
    = link_to "Edit", edit_category_path(category)
    = link_to "Destroy", category_path(category),
        method: :delete,
        data: { confirm: 'Are you sure?' }
    - if current_user
      - if @category == category.id
        = button_to 'Unsubscribe', category_subscription_path(category, @subscription), method: :delete
      - else
        = button_to 'Subscribe', category_subscriptions_path(category), method: :post
    - else
      = button_to 'Subscribe', category_subscriptions_path(category), method: :post



