%h1
  =@category.title

= render 'images/form'

= link_to "Back", categories_path
%div.row
  - @images.each do |image|
    %div
      = link_to image_tag("#{image.src.url(:thumb)}", :class => "img-fluid"),
                            category_image_new_path(category_slug: image.category.slug, id: image.id) if image.src?
      = link_to 'Destroy Image', category_image_path(category_slug: image.category.slug, id: image.id),
              method: :delete,
              data: { confirm: 'Are you sure?' }


