%h1.text-center= @category.title.capitalize
.row
  .col-12.d-flex.justify-content-center
    - if user_signed_in?
      - if @pre_subscribe
        = link_to t('categories.show.unsubscribe'), category_subscription_path(@category, @pre_subscribe), method: :delete, class: "btn btn-dark my-3"
      - else
        = link_to t('categories.show.subscribe'), category_subscriptions_path(@category), method: :post, class: "btn btn-dark my-3"
    - else
      = link_to t('categories.show.subscribe'), category_subscriptions_path(@category), method: :post, class: "btn btn-dark my-3"

.row
  - @images.to_a.each_slice(3).each do |column|
    .column
      - column.each do |image|
        .position-relative
          - if user_signed_in?
            = link_to image_tag("#{image.src.url(:thumb)}", :class => "img-fluid"),
                              category_image_new_path(category_slug: image.category.slug, id: image.id) if image.src?
            .overlay.d-flex.justify-content-end.align-items-center
              = fa_icon('heart', type: :far)
              %span.m-1= image.likes.size

          - else
            = image_tag("#{image.src.url(:thumb)}", class: 'images', 'data-src': "#{image.src.url}") if image.src?
            .overlay.d-flex.justify-content-end.align-items-center
              = fa_icon('heart', type: :far)
              %span.m-1= image.likes.size
            #myModal.modal
              .close &times
              %span= image_tag("#{image.src.url}", id: "img-modal", class: "modal-content")

- if user_signed_in?
  = render 'images/form'

= paginate @images


