
%h1.text-center= @category.title.capitalize

- if user_signed_in?
  - if @pre_subscribe
    = link_to 'Unsubscribe', category_subscription_path(@category, @pre_subscribe), method: :delete, class: "btn btn-dark d-flex justify-content-end my-3"
  - else
    = link_to 'Subscribe', category_subscriptions_path(@category), method: :post, class: "btn btn-dark d-flex justify-content-end my-3"
- else
  = link_to 'Subscribe', category_subscriptions_path(@category), method: :post, class: "btn btn-dark d-flex justify-content-end my-3"

- if user_signed_in?
  = render 'images/form'

= paginate @images

.row
  - @images.to_a.each_slice(3).each do |column|
    .column
      - column.each do |image|
        - if user_signed_in?
          = link_to image_tag("#{image.src.url(:thumb)}", :class => "img-fluid"),
                              category_image_new_path(category_slug: image.category.slug, id: image.id) if image.src?
          .overlay Like
        - else
          = image_tag("#{image.src.url(:thumb)}", :class => "img-fluid") if image.src?
= paginate @images


