.container
  %h1.text-center= t('images.index.title')

  .row
    - @images.to_a.each_slice(3).each do |column|
      .column
        - column.each do |image|
          .position-relative
            - if user_signed_in?
              .overlay.d-flex.justify-content-end.align-items-center
                = fa_icon('heart', type: :far)
                %span.m-1= image.likes.size
              - if image.src.url(:thumb)
                = link_to image_tag("#{image.src.url(:thumb)}"), category_image_new_path(category_slug: image.category.slug, id: image.id) if image.src?
              - else
                = link_to image_tag('no-image.jpg', :class => "img-fluid mt-2"), category_image_new_path(category_slug: image.category.slug, id: image.id)
            - else
              .overlay.d-flex.justify-content-end.align-items-center
                = fa_icon('heart', type: :far)
                %span.m-1= image.likes.size
              = image_tag("#{image.src.url(:thumb)}", class: 'images', 'data-src': "#{image.src.url}") if image.src?
              #myModal.modal
                .close &times
                = image_tag("#{image.src.url}", id: "img-modal", class: "modal-content")

  = paginate @images



