.container
  %h1.text-center= t('images.index.title')

  .row
    - @images.to_a.each_slice(3).each do |column|
      .column
        - column.each do |image|
          .position-relative
            - if user_signed_in?
              .overlay
                = fa_icon('heart', type: :far)
                = image.likes.size
              - if image.src.url(:thumb)
                = link_to image_tag("#{image.src.url(:thumb)}"), category_image_new_path(category_slug: image.category.slug, id: image.id) if image.src?
              - else
                = link_to image_tag('no-image.jpg', :class => "img-fluid mt-2"), category_image_new_path(category_slug: image.category.slug, id: image.id)
            - else
              .overlay
                = fa_icon('heart', type: :far)
                = image.likes.size
              = image_tag("#{image.src.url(:thumb)}") if image.src?
  = paginate @images



