.container
  %h1.text-center Images
  = paginate @images
  - @images.to_a.each_slice(2).each do |pair|
    .row
      - pair.each do |image|
        .col-6
          - if image.src?
            = image_tag "#{image.src.url(:thumb)}", :class => "img-fluid"
          %p.text-center
            - if user_signed_in?
              = link_to "Look", category_image_new_path(category_slug: image.category.slug, id: image.id)
  = paginate @images



