= image_tag "#{@image.src.url}", :class => "img-fluid" if @image.src?
.row.d-flex.justify-content-between.align-items-center.m-1
  .col-6.d-flex.justify-content-start.align-items-center
    - if @pre_like
      = button_to category_image_like_path(@category, @image, @pre_like), method: :delete, :class => "rounded-circle" do
        = fa_icon('heart', type: :fas)
    - else
      = button_to category_image_likes_path(@category, @image), method: :post, :class => "rounded-circle" do
        = fa_icon('heart', type: :far)
    = @image.likes.size
  .col-6.d-flex.justify-content-end
    -#= (@image.likes.size) == 1 ? 'Like' : 'Likes'
    = link_to "Back", images_path

%h4.my-4 Add a comment:
= render 'comments/form'

- if @image.comments.first.id?
  %h3.my-4 Comments:
  %ul.list-unstyled
    - @image.comments.each do |comment|
      %hr
      %li.media
        .media-body.ml-3
          .d-flex.justify-content-between
            %h5.m-1
              = comment.commenter
            - unless comment.id.nil?
              %time= comment.created_at.to_date.strftime("%Y-%m-%d")
          %p
            = comment.body




