.img-show.position-relative
  = image_tag "#{@image.src.url}", :class => "img-fluid" if @image.src?

  - if @pre_like
    .like-img
      = link_to category_image_like_path(@category, @image, @pre_like), method: :delete do
        = fa_icon('heart', type: :fas, size: '2x')
        %h5= @image.likes.size
  - else
    .like-img
      = link_to category_image_likes_path(@category, @image), method: :post do
        = fa_icon('heart', type: :far, size: '2x')
        %h5= @image.likes.size


%h4.my-4= t('images.show.add_comment')
= render 'comments/form'

- if @image.comments.first.id?
  %h3.my-4= t('images.show.comment')
  %ul.list-unstyled
    - @image.comments.each do |comment|
      %hr
      %li.media
        .media-body.ml-3
          .d-flex.justify-content-between
            %h5.m-1
              = comment.commenter
            - unless comment.id.nil?
              %time= comment.created_at.to_date.strftime("%Y-%m-%d")
          %p
            = comment.body




