
= image_tag "#{@image.src.url}", :class => "img-fluid" if @image.src?

.like.d-flex.justify-content-end.align-items-center.mb-2
  - if @pre_like
    = button_to category_image_like_path(@category, @image, @pre_like), method: :delete, :class => "rounded-circle" do
      = fa_icon('heart', type: :fas, size: '1x')
  - else
    = button_to category_image_likes_path(@category, @image), method: :post, :class => "rounded-circle" do
      = fa_icon('heart', type: :far, size: '1x')
  .h-5.m-2
    = @image.likes.size

.row.d-flex.justify-content-end.m-1
  = link_to "Back", images_path

%h4.my-4 Add a comment:
= render 'comments/form'

- if @image.comments.first.id?
  %h3.my-4 Comments:
  %ul.list-unstyled
    - @image.comments.each do |comment|
      %hr
      %li.media
        .media-body.ml-3
          .d-flex.justify-content-between
            %h5.m-1
              = comment.commenter
            - unless comment.id.nil?
              %time= comment.created_at.to_date.strftime("%Y-%m-%d")
          %p
            = comment.body




