!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.sticky-top.bg-dark.navbar-dark
      %a.navbar-brand.mx-4{:href => "/"} Gallery
      %button.navbar-toggler{:data => {:target => "#navbarSupportedContent", :toggle => "collapse"}, :type => "button", :aria => {:controls => "navbarSupportedContent", :expanded => "false", :label => "Toggle navigation"}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown
            = link_to "Categories", root_path, class: "nav-link dropdown-toggle", id: "navbardrop",
              'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"
            .dropdown-menu
              -rating_categories.each do |category|
                = link_to "#{category.title.capitalize}", category_path(category), class: "dropdown-item"
              .dropdown-divider
              = link_to "All categories", categories_path, class: "dropdown-item"
          %li.nav-item.active
            = link_to "Images", images_path, class: "nav-link"
          %li.nav-item
            = link_to "Comments", comments_path, class: "nav-link"
        %ul.navbar-nav
          - if user_signed_in?
            %li.nav-item
              = link_to "Profile", profile_path, class: "nav-link"
            %li.nav-item
              = link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-link"
          - else
            %li.nav-item
              = link_to "Sign in", new_user_session_path, class: "nav-link"
            %li.nav-item
              = link_to "Registration", new_user_registration_path, class: "nav-link"

      - flash.each do |name, message|
        .container-fluid.p-0
          %div{:class => "alert #{bootstrap_class_for(name)}"}
            %button{:class => 'close', "data-dismiss" => 'alert'} &times;
            = message
    - if controller_name == "static_pages"
      .container-fluid.p-0
        = yield
    - else
      .container
        = yield
    %footer
      %p © Company 2019
    %script{:src => 'https://www.google.com/recaptcha/api.js', :async => "", :defer => ""}




