!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .row.mt-4
      .col.text-center
        %a.navbar-brand.mx-auto{:href => root_path}
          = image_tag('logo.resized.png', :class => "d-flex text-align-center")
          .logo.mt-3
            %em
              %strong Gallery
          %hr
    %nav.container.navbar.navbar-expand-lg.sticky-top.bg-light.navbar-light
      %button.navbar-toggler{:class => "mx-auto", :data => {:target => "#navbarSupportedContent", :toggle => "collapse"}, :type => "button", :aria => {:controls => "navbarSupportedContent", :expanded => "false", :label => "Toggle navigation"}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown{:class => ("active" if controller_name == "categories")}
            = link_to t('menu.categories'), root_path, class: "nav-link dropdown-toggle", id: "navbardrop",
              'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"
            .dropdown-menu
              -rating_categories.each do |category|
                = link_to "#{category.title.capitalize}", category_path(category), class: "dropdown-item"
              .dropdown-divider
              = link_to t('menu.all_categories'), categories_path, class: "dropdown-item"
          %li.nav-item{:class => ("active" if controller_name == "images")}
            = link_to t('menu.images'), images_path, class: "nav-link"
          %li.nav-item{:class => ("active" if controller_name == "comments")}
            = link_to t('menu.comments'), comments_path, class: "nav-link"
        %ul.navbar-nav
          %li.nav-item.border
            = link_to "ru", { locale: :ru }, class: (I18n.locale == :ru ? "nav-link active" : "nav-link")
          %li.nav-item.border.border-left-0
            = link_to "en", { locale: :en }, class: (I18n.locale == :en ? "nav-link active" : "nav-link ")
        %ul.navbar-nav
          - if user_signed_in?
            %li.nav-item
              = link_to t('menu.profile'), profile_path, class: "nav-link"
            %li.nav-item
              = link_to t('menu.exit'), destroy_user_session_path, method: :delete, class: "nav-link"
          - else
            %li.nav-item
              = link_to t('menu.sign_in'), new_user_session_path, class: "nav-link"
            %li.nav-item
              = link_to t('menu.registration'), new_user_registration_path, class: "nav-link"

    = render "categories/errors"
    = render "images/errors"
    = render "comments/errors"
    = render "layouts/errors"

    - if controller_name == "static_pages"
      .container-fluid.p-2
        = yield
    - else
      .container.my-4
        = yield
    %footer
      %p.text-center Copyright © 2019 Gallery


    %script{:src => 'https://www.google.com/recaptcha/api.js', :async => "", :defer => ""}



