!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-sm.bg-light.navbar-light
      %ul.navbar-nav.mr-auto
        %li.nav-item.dropdown
          = link_to "Categories", root_path, class: "nav-link dropdown-toggle", id: "navbardrop", 'data-toggle': "dropdown"
          .dropdown-menu
            = link_to "Link", root_path, class: "nav-link"
        %li.nav-item.active
          = link_to "Images", images_path, class: "nav-link"
        %li.nav-item
          = link_to "Comments", comments_path, class: "nav-link"
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item
            = link_to "Profile", profile_path, class: "nav-link"
          %li.nav-item
            = link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-link"
        - else
          %li.nav-item
            = link_to "Sign in", new_user_session_path, class: "nav-link"
          %li.nav-item
            = link_to "Sign in with Facebook", users_omniauth_callbacks_facebook_path, class: "nav-link"
          %li.nav-item
            = link_to "Registration", new_user_registration_path, class: "nav-link"

    .container
      .row
        .col-lg-9
          .row
            .col-12
              -flash.each do |name, message|
                %div{:class => "alert #{bootstrap_class_for(name)}"}
                  %button{:class => 'close', "data-dismiss" => 'alert'} &times;
                  = message



          = yield
        .col-lg-3
          .well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
      %footer
        %p © Company 2019




